#services {
    background: var(--bg-color);
    position: relative;
}

#services header {
    text-align: left;
    margin-bottom: 4rem;
}

#services header span {
    color: var(--primary-color);
    font-weight: 500;
}

#services header h2 {
    color: var(--color-black);
    font-weight: 600;
    font-size: 2.8rem;
}

#services .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#services .cards .card {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;

  position: relative;
  background: var(--bg-color);
  position: -webkit-sticky;
  position: sticky;
  top: 15rem;

  border-top: 1px solid #00000080;
  padding-block: 4rem;
  min-height: 30rem;
}

#services .cards .card span {
  color: #000;
  font-size: 7rem;
  opacity: .2;
  font-weight: 300;
  mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), transparent 100%);
}

#services .cards .card h3 {
  font-size: 3rem;
  color: var(--color-black);

  margin-top: -5.5rem;
}

#services .cards .card p {
  color: var(--color-black);
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 1rem;
}

#services .cards .card a {
  text-decoration: none;
}

#services .cards .card a button {
  border: none;
  margin-top: 2rem;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  color: var(--color-white);
  background: var(--gradient);
  border-radius: 1rem;
}

@media (min-width: 1080px) {
    .wrapper {
      width: min(112rem, 100%);
    }

    section#services header {
        margin-bottom: 10rem;
        position: initial;
        text-align: center;
    }

    section#services header span {
        font-size: 1.8rem;
    }

    section#services header h2 {
        font-size: 3.5rem;
    }

    section#services .cards .card {
      width: 100%;
      display: grid;
      grid-template-columns: .1fr 2fr 3fr 2fr;
      align-items: center;
      justify-content: flex-end;
      gap: 7rem;
      padding-block: 7rem;
      min-height: initial;

      position: initial;

      overflow: hidden;
    }

    section#services .cards .card:hover span,
    section#services .cards .card:hover h3 {
      transform: translateX(20px);
      opacity: .5;
    }


    section#services .cards .card span {
      font-size: 6rem;
      opacity: .2;
      transition: all 700ms ease-in-out;
      color: var(--primary-color);
      mask-image: initial;
    }

    section#services .cards .card h3 {
      transition: all 700ms ease-in-out;
      margin-top: initial;
    }

    section#services .cards .card p {
      position: relative;
      margin-top: 0;
    }

    section#services .cards .card p::before {
      content: '';
      position: absolute;
      height: 20rem;
      width: 3px;
      background: var(--primary-color);
      left: -2rem;
      bottom: 100%;
      border-radius: 2rem;
      opacity: 0;
      transition: all 700ms ease-in-out;
    }

    section#services .cards .card:hover p::before {
      bottom: 50%;
      opacity: 1;
    }

    section#services .cards .card a {
      display: flex;
      justify-content: end;
    }

    section#services .cards .card a button {
      margin-top: 0;
      font-size: 1.8rem;
    }
   
  }

  @media (min-width: 1200px) {
    .wrapper {
      width: min(130rem, 100%);
    }
  }

  @media (min-width: 1400px) {
    .wrapper {
      width: min(150rem, 100%);
    }

    :root {
      font-size: 65%;
    }
  }

  @media (min-width: 1700px) {
    .wrapper {
      width: min(160rem, 100%);
    }
  }

  @media (min-width: 2000px) {
    .wrapper {
      width: min(180rem, 100%);
    }
  }